/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body { 
  font-family: 'Alex Brush', cursive;
}

nav ul a,
nav .brand-logo {
  color: black
  }

nav ul a,
nav .brand-logo {
}

.nav-wrapper {
 padding: 0 50px;
}

.button-collapse {
  color: black;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-intro {
  height: 100%;
  width: 100%
}

.header {
  margin-top: 3%;}

.header-subtitle {
  margin-top: 35%;
  font-size: 2.2em}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  
}

.col-servizio {
  margin-top: 60px;
  margin-bottom: 100px
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.section-registrazione {
  height: 100%;
  width: 100%
}

.registrazione-icons {
  font-size: 4em;
  margin-top: 60px
}

.btn-registrazione {
  width: 100%
}

.contatta-icons {
  font-size: 4em;
  margin-top: 60px
}

.btn-contatta {
  width: 100%
}

h5 {
  font-size: 2.5em
}

p {
  font-family: 'Chicle', cursive;
  }

  p {
    font-size: 0.8em
}

h3 {
  font-size: 4em
}

footer.page-footer {
  margin: 0;
  background-color: #c5cae9;
}

.social-icon {
  font-size: 1.5em;
  color: #fff;
  padding: 0 20px;
}

.social-icon:hover {
color: #0d47a1;
}
